

*{
    font-family: monospace;
}

body{
    background-color:rgb(93, 101, 122);
    padding: 2%;
    padding-inline-start: 0%;
    padding-right: 0%;
    padding-block-end: 2%;
   
}

.photo {
    margin: 0%;
    float: left;
}

.picture {
    width: 40%;

}

.name {
    margin: 0;
    color: antiquewhite;
    font-size: 600%;
}

.info {
    font-size: 1em;
    margin: 0;
    color: rgb(106, 213, 178);
}




.icons a {
    text-decoration: none;
    color:antiquewhite;
    margin: 0 10px;
    font-size: 1.5em;
}
.icons:hover{
    color: rgb(106, 213, 178);
}


.form {
    margin: 20%;
    max-width: 600px;
    padding: 0 20px;
    color:aquamarine;
}

.required{
    color:antiquewhite;
}

.input {
    width: 100%;
    padding: 3%;
    margin: 5% 0;
    box-sizing: border-box;
}

#submit-button {
    background-color: aquamarine;
    color:rgb(72, 74, 76);
    padding: 10px 20px;
    font-size: 1em;
    stroke-width: 2em;
    border:3em;
    cursor: pointer;
}


/* Breakpoint para dispositivos móviles (menores a 576px) */
@media (max-width: 450px) {
    .name {
        font-size: 200%;
    }

    .info {
        font-size: 0.9em;
    }

    .icons a {
        font-size: 1.2em;
    }
}

/* Breakpoint para tabletas (de 576px a 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h2 {
        font-size: 1.8em;
    }

    .info {
        font-size: 1em;
    }

    .icons a {
        font-size: 1.3em;
    }

    .form {
        max-width: 500px;
    }
}

/* Breakpoint para escritorio (768px o más) */
@media (min-width: 768px) {
    h2 {
        font-size: 2.2em;
    }

    .info {
        font-size: 1.1em;
    }

    .icons a {
        font-size: 1.5em;
    }

    .form {
        max-width: 600px;
    }
}